---
import AttendeeForm from '../components/Form.jsx';
---

<html>
  <head>
    <title>See You in Canada</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>¡See You in Canada!</h1>
    <p>Acompáñame en mi despedida mientras me preparo para este emocionante nuevo capítulo en Canadá.</p>

    <AttendeeForm />
  </body>
</html>
