---
 const personalImageAlt = "Xavier"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Xavier, and I am passionate about technology and innovation. 
      With over 6 years of experience in IT systems administration and DevOps.
      I have developed a strong foundation in infrastructure automation and cloud management, 
      primarily with <strong>Azure</strong> since it was my degree's final project.
    </p>

    <p>
      My journey began with a degree in Computer Engineering from the University of the 
      Balearic Islands, where I majored in Information Technology. This specialization 
      provided me with a deep understanding of both hardware and software technologies 
      essential for managing and developing systems infrastructure, including areas 
      such as operating systems, distributed systems, cloud computing, and cybersecurity. 
      My final project focused on creating a <strong>Disaster Recovery Plan</strong> in cloud 
      environments. This project awaked my interest in cloud computing and automation, 
      leading me to explore further in these areas.
    </p>

    <p>
      Throughout my career, I have been involved in the deployment and management of complex IT 
      systems, ensuring optimal performance and reliability. My recent work at WakkeIT 
      involves automating infrastructure and workflows using tools like 
      <strong>Ansible, GitHub, ELK and Kubernetes(AKS, EKS)</strong>. I am committed to 
      continuously improving and adapting to the latest technologies to drive efficiency 
      and innovation in the organizations I work with.
    </p>
  </div>

  <img width="200" height="200" src="/about_me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>