---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Currently...",
    title: "IT Sysops",
    company: "WakkeIT, Bilbao",
    description:
      "Deploy and configuration of Kubernetes clusters with advanced features. Development of event-based workflow automations using StackStorm and Ansible. Installation, configuration, and administration of applications deployed in containers. Technologies used include StackStorm, Ansible, AWX, Terraform, Kubernetes (EKS, AKS), AWS, Azure, Python, and Conda. Managed service operations using ServiceNow and Jira.",
  },
  {
    date: "2021/03 - 2022/10",
    title: "IT System Administrator",
    company: "Fundacio IBit, Palma",
    description:
      "Administration of Linux and Windows systems, Oracle Databases, and VMware virtualization. Configuration and management of JBoss application servers, Apache, Tomcat, and Keycloak. Migrated JBoss application servers to OpenShift. Technologies used include RHEL, JBoss Web Server, CheckMK, Nagios, Keycloak, Tomcat, Apache, OpenShift, and IBM Notes.",
  },
  {
    date: "2017/10 - 2021/03",
    title: "IT System Administrator",
    company: "Juniper Consulting S.L, Palma",
    description:
      "Managed server administration in both Windows and Linux environments. Designed, developed, and implemented improvements in system operations. Automated installation and maintenance tasks, and implemented clustering architectures. Administered Active Directory, DNS, and Backup/Restore operations. Key projects included Disaster Recovery Planning (DRaaS, Azure) and Payment Card Industry (PCI) compliance. Technologies used include Windows Server, IIS, AD, GPO, DNS, Microsoft Azure, PowerShell, Git, Networking, Redis, ARDB, Kafka, Hyper-V, ELK, HAProxy, F5 LoadMaster KEMP, Nginx, SQL, Ansible, AWS, and more.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
